:root{
    --oscuro: #374151;
    --oscuro2: #1F2937;
    --mas_oscuro: #111827;
    --plomo: #2f3742;
    --claro: #EEE;
    --color-boton1: #03f8f8;
    --color-boton2: #00c9fc;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--oscuro);
    color: #FFF;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2rem;
    font-weight: 300;
    color: #FFFF;
    margin-bottom: 1rem;
    font-weight: bold;
}
/*Formulario*/
#form-nueva-tarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#input-nueva-tarea{
    flex: 1 1 0%;
    background-color: var(--oscuro2);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--claro);
    font-size: 1.25rem;
}
#input-nueva-tarea::placeholder{
    color: rgba(170, 170, 170, 0.548);
}
#submit-nueva-tarea{
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--color-boton1), var(--color-boton2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
@media (min-width: 760px){
    #submit-nueva-tarea{
        margin-top: 0;
    }
}

#submit-nueva-taresa:hover{
    opacity: 0.8;
}
#submit-nueva-taresa:active{
    opacity: 0.6;
}

/*Main*/
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

#tareas .tarea{
    display: flex;
    justify-content: space-between;
    background-color: var(--mas_oscuro);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#tareas .tarea .contenido{
    flex: 1 1 0%;
}
#tareas .tarea .contenido .texto{
    color: var(--claro);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}


#tareas .tarea .acciones{
    display: flex;
    margin: 0 -0.5rem;
}
.tarea .acciones button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.tarea .acciones button:hover{
    opacity: 0.8;
}
.tarea .acciones button:active{
    opacity: 0.6;
}
.tarea .acciones .editar{
    background-image: linear-gradient(to right, var(--color-boton1), var(--color-boton2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tarea .acciones .eliminar{
    color: crimson;
}